body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 0px;
  border-color:#1A5F23;
  background-color: #0E3D14;
}

.navbar-default .navbar-brand {
  color:#FFF;
}

.navbar-default .navbar-brand:hover {
  color:#777;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#999;
}

.navbar-default .navbar-toggle {
  border-color:transparent !important;
}

.navbar-toggle:hover {
    background-color:#0E3D14 !important;
}

.navbar-toggle {
    background-color:#0E3D14 !important;
}
