{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }} {% endblock %} 
{% load staticfiles %}

<style>
{% block style %}
.jumbotron {
    background-color: #0E3D14;
    color:#FFF;
}
{% endblock %}
</style>

 
{% block jumbotron %}
     {% if not request.user.is_authenticated %}
 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">
 <div class="container">
<div class="row">
  <div class="col-sm-6">
      <h1>Try Django 1.8</h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. 
      It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Join Us &raquo;</a>
      </p>
  </div>
    <div class="col-md-6" style='background-color:black;height:315px;'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</div>
</div>
{% endif %}
{% endblock %}


{% block content %}
 {% if request.user.is_authenticated %}
 <h1>You are logged in!</h1>
     {% if queryset %}
 <h1>Welcome Stuff</h1>
 <table class="table">
     {% for instance in queryset %}
     <tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }}</td></tr>
     {% endfor %}
 </table>
 {% endif %}

 {% else %}
<div class="row">
  <div class="col-sm-3 pull-right">
  
        <p class="lead text-align-center">{{ title }}</p>
        <form method='POST' action=''>{% csrf_token %}
        
        {{ form | crispy }}
        
        <input class="btn btn-primary" type="submit" value="Sign Up"/>
        </form>
  </div>
  
  <div class="col-sm-3">
    <p class="lead text-align-center">Django &amp; Bootstrap</p>
    <img src="{% static 'img/marketing1.jpg' %}" class="img-responsive"></img>
  </div>
  
  
  <div class="col-sm-3">
    <p class="lead text-align-center">Created all kinds</p>
    <i class="fa fa-bolt fa-5x"></i>
  </div>
  
  
  
  <div class="col-sm-3">
    <p class="lead text-align-center">Always Open Source</p>
  </div>
  
</div>
{% endif %}
{% endblock %}